<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
    <settings>
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- <setting name="aggressiveLazyLoading" value="false"/> -->
    </settings>
    <typeAliases>
        <typeAlias alias="user" type="org.apache.ibatis.debug.entity.User"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler jdbcType="VARCHAR" javaType="string" handler="org.apache.ibatis.debug.handler.CustomerHander"/>
    </typeHandlers>
    <!-- 定义数据库的信息，默认使用development数据库构建环境 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}" />
                <property name="url" value="${db.url}" />
                <property name="username" value="${db.username}" />
                <property name="password" value="${db.password}" />
            </dataSource>
        </environment>
    </environments>
    <!-- 定义映射器 -->
    <mappers>
        <mapper resource="org/apache/ibatis/debug/mapper/UserMapper.xml"/>
    </mappers>
</configuration>
